@font-face {
  font-family: "Gomsin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Gomsin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Gomsin;
  font-size: 24px;
}

body {
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  position: absolute;
  top: 50%;
  margin-top: -300px;
}

.Q-Box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 12px 12px 0 0;
  background-color: #ffffff;
}

select {
  color: #999;
  border: none;
  outline: none;
  text-align: center;
}

.polaroid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  flex-direction: column;
  border-radius: 0 0 12px 12px;
}

.photo {
  background-color: #c4c4c4;
  width: 320px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* label 스타일 조정 */
.button {
  display: flex;
  justify-content: center;
}
label {
  cursor: pointer;
  font-size: 1em;
}

#chooseFile {
  visibility: hidden;
}

.submitButton {
  width: 30%;
  margin: auto;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  font-size: 0.8em;
  cursor: pointer;
}
.description {
  width: 320px;
  height: 100px;
  left: 40px;
  top: 400px;
  padding: 0 16px;
  margin: 0 24px 24px 24px;
}

.content {
  margin: 8px 0;
}

.share-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-color: black;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.fa-share-nodes {
  font-size: small;
  color: black;
}
